<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <form id="formaa">
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                placeholder="What's next?"
                name="title"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4"
                required
              />
            </div>
            <div class="flex-auto">
              <input type="date" class="text-black" name="dueDate" />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <%- include("todos.ejs") %>
      </div>
    </div>
  </body>
  <script defer>
    const form = document.getElementById("formaa");
    const title = document.querySelector('[type="text"]');
    const dueDate = document.querySelector('[type="date"]');
    form.onsubmit = async (e) => {
      e.preventDefault();
      const res = await fetch("/todos", {
        method: "post",
        body: JSON.stringify({ title: title.value, dueDate: dueDate.value }),
        headers: {
          "Content-Type": "application/json",
        },
      });
      const data = await res.json();
      console.log(data);
    };
  </script>
</html>
